<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRTUTlh7cirLW5vdEnaycaOiBZbq7YI_0</string>
	<key>GCM_SENDER_ID</key>
	<string>930180654648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pinLocation</string>
	<key>PROJECT_ID</key>
	<string>favplace-hortaleza</string>
	<key>STORAGE_BUCKET</key>
	<string>favplace-hortaleza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930180654648:ios:0210f5d699eefb3dcea8cd</string>
</dict>
</plist>